* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  font-size: 160%;
  color: #ffffff;
  width: 50px;
  height: 50px;
  background-color: #1e1e1e;
  border: none;
  border-radius: 5px;
  margin-bottom: 10%;
}
body {
  font-family: sans-serif;
  background: #121212;
  color: #f1f1f1;
  line-height: 1.6;
  padding: 40px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.socials {
  margin-top: 20px;
}

.socials a {
  display: inline-block;
  margin-right: 15px;
}
